* {
    margin: 15px;
}
h1 {
    text-align: center;
    margin-top: 0.5rem;
    font-family: 'Lato', sans-serif;
}
h3 {
    column-span: all;
}
.row {
    display: inline-block;
    margin: 15px;
}
p {
    margin-bottom: 0.5rem;
}
input {
    margin: 15px 0px;
}
.form-control:focus, .form-control {
    border-color: #e8bee7;
}
.btn-primary {
    margin-bottom: 20px;
    background-color: #8f108b;
    border-color: #750d72;
}
.btn-primary:hover {
    background-color: #750d72;
    border-color: #750d72;
}

