{% extends "base.html" %}

{% block content %}  
<div>
    <div class='mainbody'>
        <h3>{{ specs['journal'][0][1] }}</h3>
        <h6>{{ specs['journal'][0][0] }} | {{ specs['journal'][0][2] }}</h6>
        <p>{{ specs['journal'][0][3] }}</p>
    </div>
    <div class="aboutside">
        <div>
            <h4 class='side'>Word of the Day</h4>  
            <p class='side'>{{ specs['words'][0][1] }}: {{ specs['words'][0][2] }}</p>
            <p class='side'>{{ specs['words'][0][3] }}</p>
            <a class='words side' href="../">Return Home</a>
        </div>
        <div>
            <h4 class=side>Thorn, Rose, Bud</h4>
            <img src="../static/thorn.png" alt="a thorn reps the bad" class=flowers>
            <p>{{ specs['rbt'][0][1] }}</p>
            <img src="../static/rose.png" alt="a rose reps the good" class=flowers>
            <p>{{ specs['rbt'][0][2] }}</p>
            <img src="../static/bud.png" alt="a bud reps what I'm looking forward to" class=flowers>
            <p>{{ specs['rbt'][0][3] }}</p>
        </div>
    </div>
</div>
{% endblock %}

