h1 > a {
    color:rgb(179, 0, 89); 
} 

body { 
    margin: 10px; 
}

.mui-btn--primary { 
    background-color: rgb(179, 0, 89); 
}

.mui-btn--primary:hover { 
    background-color: rgb(88, 0, 44); 
}

form { 
    padding: 15px; 
}

